<%= bootstrap_form_for [:admins, @car], remote: true, data: { controller: 'modal-form-errors', action: 'ajax:error->modal-form-errors#renderErrors' } do |f|%>
  <%= f.text_field :name %>
  <%= f.text_field :year %>
  <div data-controller="select2">
    <%= collection_select(:car, :manufacturer_id, Manufacturer.all, :id, :name, class: "manufacturer_select") %>
  </div>
  <%= f.submit class: "btn btn-primary", style: "margin-left: 140px" %>
<% end %>