<div class="container-fluid">
  <div class="col-sm-12">
    <div class="container" style="background-color: white; border-radius: 25px;">
    <table class="table">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
      <tbody>
      <% @cars.each do |car| %>
        <tr>
          <th><%=car.id%></th>
          <td><%=car.name%></td>
          <td><%=car.brand.name%></td>
          <td><%=car.created_at%></td>
          <td><%=car.updated_at%></td>
          <td><%= link_to 'Edit', edit_admins_car_path(car), remote: true, data: { controller: 'open-form-modal', action: 'ajax:success->open-form-modal#openModal' } %></td>
          <td><%= link_to 'Delete', admins_car_path(car),
                          method: :delete,
                          data: { confirm: 'Are you sure' } %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>