<div class="container-fluid">
  <div class="col-sm-12">
    <div class="container" style="background-color: white; border-radius: 25px;">
      <table class="table">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Updated At</th>
          </tr>
        <tbody>
          <% @manufacturers.each do |manufacturer| %>
            <tr>
              <th><%=manufacturer.id%></th>
              <td><%=manufacturer.name%></td>
              <td><%=manufacturer.created_at%></td>
              <td><%=manufacturer.updated_at%></td>
              <td><%= link_to 'Edit', edit_admins_manufacturer_path(manufacturer), remote: true, data: { controller: 'open-form-modal', action: 'ajax:success->open-form-modal#openModal' } %></td>
              <td><%= link_to 'Delete', admins_manufacturer_path(manufacturer),
                                        method: :delete,
                                        data: { confirm: 'Are you sure' } %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <%= link_to "Create", new_admins_manufacturer_path, remote: true, data: { controller: 'open-form-modal', action: 'ajax:success->open-form-modal#openModal' }, class: "btn btn-primary" %>
  </div>
</div>